#header {
  background-color: #ad556e;
  text-align: left;
  width: 100%;
  height: 40px;
  margin-top: 0;
}

img {
  max-width: 40%;
  width: 40%;
  height: auto;
}

body {
  background: #ffdadf;
}

.navbar {
  background-color: #ad556e;
  text-align: center;
  width: 100%;
  padding: 10px 0 10px 0;
}
